@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900&display=swap');

:root {
  --main-color: #4f6367;
  --sec-color: #7a9e9f;
  --accent1-color: #ef516d;
  --accent2-color: #eef5db;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Muli', sans-serif;
}

.header-container {
  max-width: 960px;
  min-width: 320px;
  margin: 3rem auto;
  height: auto;
}

#logo-main {
  fill: transparent;
  stroke: var(--main-color);
  animation: fill-logo 3s ease forwards 3s;
  margin-left: 1rem;
}
 #logo-main path:nth-child(1) {
  stroke-dasharray: 92.09;
  stroke-dashoffset: 92.09;
  animation: line-anim 2s ease forwards;
}
#logo-main path:nth-child(2) {
  stroke-dasharray: 58.86;
  stroke-dashoffset: 58.86;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo-main path:nth-child(3) {
  stroke-dasharray: 88.64;
  stroke-dashoffset: 88.64;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo-main path:nth-child(4) {
  stroke-dasharray: 79.28;
  stroke-dashoffset: 79.28;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo-main path:nth-child(5) {
  stroke-dasharray: 90.26;
  stroke-dashoffset: 90.26;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo-main path:nth-child(6) {
  stroke-dasharray: 106.14;
  stroke-dashoffset: 106.14;
  animation: line-anim 2s ease forwards 1s;
}
#logo-main path:nth-child(7) {
  stroke-dasharray: 107.71;
  stroke-dashoffset: 107.71;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo-main path:nth-child(8) {
  stroke-dasharray: 99.06;
  stroke-dashoffset: 99.06;
  animation: line-anim 2s ease forwards 1.4s;
}
#logo-main path:nth-child(9) {
  stroke-dasharray: 100.77;
  stroke-dashoffset: 100.77;
  animation: line-anim 2s ease forwards 1.6s;
}
#logo-main path:nth-child(10) {
  stroke-dasharray: 55.24;
  stroke-dashoffset: 55.24;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo-main path:nth-child(11) {
  stroke-dasharray: 61.96;
  stroke-dashoffset: 61.96;
  animation: line-anim 2s ease forwards 2s;
}
#logo-main path:nth-child(12) {
  stroke-dasharray: 94.22;
  stroke-dashoffset: 94.22;
  animation: line-anim 2s ease forwards 2.2s;
}
#logo-main path:nth-child(13) {
  stroke-dasharray: 107.71;
  stroke-dashoffset: 107.71;
  animation: line-anim 2s ease forwards 2.4s;
}

@keyframes line-anim{
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill: transparent;
  }
  to {
    fill: var(--main-color);
  }
}
@keyframes hamdraw {
  to {
    stroke-dashoffset: 0;
  }
}
.showcase-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-areas:
      "h1"
      "about"
      "img";
}
.showcase-h1 {
  grid-area: h1;
  margin: 5rem 1.5rem 3rem 1.5rem;
  font-weight: 900;
  letter-spacing: 0.06rem;
  text-align: left;
  color: var(--main-color);
}
.showcase-h1-sub {
  color: var(--accent1-color);
  letter-spacing: 0.06rem;
}

.showcase-about {
  grid-area: about;
  margin: 0 1.5rem;
  text-align: left;
  color: var(--main-color);
}
.showcase-img {
  grid-area: img;
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 2rem auto;
}
.resume-container, .js-projects-container, .ang-projects-container {
  min-width: 310px;
  max-width: 960px;
  margin: 0 auto;
}
.resume-h3, .projects-h3 {
  font-weight: 900;
  letter-spacing: 0.06rem;
  margin: 2rem 1.5rem;
  font-size: 1.5rem;
  color: var(--main-color);
}
.work-card-container, .projects-card-container {
  display: flex;
  flex-flow: row wrap;
}
.work-card, .projects-card {
  margin: 2rem 0.5rem;
  min-width: 310px;
  max-width: 26rem;
  height: auto;
  text-align: center;
}
.work-h4, .projects-h4 {
  font-size: 1.2rem;
  margin: 1rem;
  color: var(--main-color);
  text-align: left;
  font-size: 1.75rem;
  font-weight: 900;
  letter-spacing: 0.06rem;
}
.work-about, .projects-about {
  margin: 1rem;
  text-align: left;
  opacity: 0.7;
  color: var(--main-color);
}
.work-img, .projects-img {
  width: 26rem;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
}
.work-img:hover, .projects-img:hover {
  transform: scale(1.05);
}
.work-link, .projects-link {
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.work-link:hover, .projects-link:hover {
  cursor: pointer;
  color: var(--accent1-color);
}
.fa-caret-right {
  font-weight: 900;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.fa-angular, .fa-js-square {
  margin-right: 0.7rem;
  color: var(--accent1-color);
}


/* // tablet view media query */
@media only screen and (min-width: 426px) {
  .showcase-container {
    display: grid;
    grid-template-areas:
        "h1 img"
        "about img";
  }
  .showcase-h1 {
    grid-area: h1;
    margin: 2rem 1.5rem;
  }
.showcase-about {
  grid: about;
}
  .showcase-img {
    grid-area: img;
    width: 85%;
    margin: auto;
  }

  /* .work-img, .projects-img {
    width: 425px;
} */
}
.work-card-container, .projects-card-container {
  justify-content: space-around;
}



/* // desktop view media query */
@media only screen and (min-width: 769px) {
}